body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.grid-container {
    display: grid;
    align-items: stretch;
    grid-template-areas:
    "topnav"
    "home"
    "about"
    "gallery"
    "links"
    "footer"
    ;
}
.grid-container img {
    width:100%;
}

.topnav {
    box-sizing: border-box;
    background-color: white;
    padding:1.5rem;
    grid-area:topnav;
    justify-self:center;
    display:grid;
    
    justify-content: center;
    justify-items:center;
    
}
.topnav a {
    color: black;
}
.topnav img {
    width:10%;

}

#home {
    justify-content: center;
    grid-area: home;
    box-sizing: border-box;
    padding: 1rem;

}

#about {
    justify-content: center;
    grid-area: about;
    padding: 1rem;
}

#links{
    display:none;
    
}



#links2 {
    justify-content: center;
    grid-area:links;
}

.header {
    position: relative;
    display: grid; 
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  }

.header h1{
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
}
.quote {
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5em;
}
footer {
    background-color: darkblue;
    padding:1.5rem;
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}
#gallery {

}
.gallery-images {
    grid-template-areas: gallery;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    justify-content: center;
}
.gallery-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 600px) {
    .grid-container {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      grid-template-columns:
        "home"
        "gallery"
        "about"
        "links";
      max-width: 960px;
    }
    #links{
        display:block;
        justify-content: center;
        
    }
    .icon {
        display: none;
      }

}
