body {
    background-color: rgb(61, 61, 61);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: left;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 20px;
  }

  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px;
  }

  .grid_container a{
    color: black;
  }

  .grid_container a:visited {
    color: rgb(82, 82, 82);
  }

  .header {
  grid-column-start: 1;
  grid-column-end:   2;
  margin-top: 5rem;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    gap: 5%;
  }

  .content div{
    display: grid;
    box-sizing: border-box;
    background-color: white;
    padding:2.5rem;
    align-items:start;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
  }

  .content h1{
    color: black;
  }

  .content2 {
    display: grid;
    align-items:start;
    box-sizing: border-box;
    padding:2.5rem;
    background-color: white;
  }

  .content2 p{
    color: black;
  }

