body{
    background-color:#2b2b2b;
}
p{
    color:#e4e2dd;
}
h1{
    color:#e4e2dd;
}
h3{
    color:#e4e2dd;
}
a{
    color:#d44527;
}
.navbar-nav .nav-item .nav-link {
    color:#d44527;
    font-size: 16px; /* Font size */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}